<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TowerFE</title>
</head>
<body>
<h1>Login</h1>
<form action="/towerfe/login/" method="POST">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
  </p>
  <input type="submit" value="Login"/>
</form>
</body>
</html>
